{% extends 'base.html.twig' %}

{% block title %}Soodle | Créer un utilistaeur{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/createUE.css') }}">
{% endblock %}
{% block body %}
    <form>
        <div class="title">
            <h1> Formulaire de création d'utilisateur</h1>
        </div>

        <div class="form-input">
            <div><label for="nom"> Nom :</label></div>
            <input type="text" id="nom">

        </div>
        <br>

        <div class="form-input" >
            <div> <label for="prenom"> Prénom : </label> </div>
            <input type="text" id="prenom">
            </label>
        </div>
        <br>

        <div class="form-input" >
            <div> <label for="mail"> Mail : </label> </div>
            <input type="email" id="mail">
            </label>
        </div>
        <br>

        <div class="form-input" >
            <div><label for="role"> Role :</label></div>
            <select id="role" name="role">
                <option value="all">Tout</option>
                <option value="admin">Administrateur</option>
                <option value="teacher">Professeur</option>
                <option value="admin-teacher">Administrateur / Professeur</option>
                <option value="student">Etudiant</option>

            </select>

        </div>
        <br>

        <div class="form-input" >
            <div> <label for="mdp"> Mot de passe : </label> </div>
            <input type="password" id="mdp">
            </label>
        </div>
        <br>


        <br>
        <button type="submit">Créer un utilisateur</button>
    </form>
{% endblock %}
